.orogold-text {
    font-weight: bold;
    color: #a4842c !important;
}
.btn-outline-orogold {
    color: #a4842c;
    background-color: transparent;
    background-image: none;
    border-color: #a4842c;
    border: 2px solid #a4842c;
}
.btn-outline-orogold:hover {
    color: #000;
    background-color: #a4842c;
    border-color: #a4842c;
}
.btn-outline-orogold.focus,
.btn-outline-orogold:focus {
    box-shadow: 0 0 0 .2rem rgba(164, 132, 44, .5);
}
.btn-outline-orogold_map {
    padding: 0.6em 3em;
    color: #000;
    background-color: transparent;
    background-image: none;
    border: 2px solid #000;
}
.btn-outline-orogold_map:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.btn-outline-orogold_map.focus,
.btn-outline-orogold_map:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, .5);
}
/* Section */
.section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 34em;
}
/* First Section */
.first_section .row {
    padding: 10% 0;
}
.first_section .title_section{
    font-size: 5em;
    color: #a4842c;
}
.first_section .slogan_title{
    font-size: 1.5em;
    color: white;
}
.card-title {
    font-size: 1.5em;
    font-weight: bold;
}
.col-md-6[data-column="second"] input.form-control{
    margin: 1em 0;
}
.btn-reservar {
    color: white;
    background: #a4842c;
}
.btn-reservar:hover {
    background: white;
    border: 1px solid #a4842c;
    color: #a4842c;
}
/* Second section */
.second_section .title{
    font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
    color: #a4842c;
}
.second_section .subtitle{
    padding: 0 5em;
}
.second_section .col-md-4{
    padding: 1.5em;
}
.second_section .col-md-4 .card-title{
    color: #a4842c;
}
.second_section .col-md-4 .container-img {
    margin: 1.5em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 1s;
}
.second_section .col-md-4[data-column="first"] .container-img:hover{
    transform: rotate(360deg);
    box-shadow: 0 0 10px  #a4842c;
}
.second_section .col-md-4[data-column="second"] .container-img:hover{
    transform: scale(1.5);
    box-shadow: 0 0 10px  #a4842c;
}
.second_section .col-md-4[data-column="third"] .container-img:hover{
    transform: rotateY(180deg);
    box-shadow: 0 0 10px  #a4842c;
}
.second_section .col-md-4 .container-img img{
    width: 100%;
    height: auto;
    transform: scale(1.5);
}
/* Third section */
.third_section .transbox {
    width: auto;
    height: 34em;
    background-color: rgba(0,0,0,0.7);
}
.third_section .row[data-column="first"] {
    padding: 3.6em 15em;
}
.third_section h1{
    color: yellow;
    font-weight: bolder;
}
.third_section p{
    text-align: center;
    color: white;
    font-weight: bolder;
}
/* Fourth section */
.fourth_section {
    padding: 2.5em 0;
}
.fourth_section .col-md-4[data-column="second"] h5{
    color: #a4842c;
}
.fourth_section .col-md-4[data-column="second"] p{
    font-weight: bold;
}
/* Fifth Section */
.fifth_section {
    padding: 2.5em 0;
}
.fifth_section .col-md-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    overflow: hidden;
    margin: 2em 0;
}
.fifth_section .col-md-12 img{
    width: 100%;
}
.fifth_section .row h5{
    color: #a4842c;
    font-weight: bold;
}
.nav_footer .row span{
    padding: 0 0.5em;
}